ELEVENLABS_API_KEY=
DATABASE_URL=
NEXT_PUBLIC_DEFAULT_VERTICAL=hvac


ELEVENLABS_INTAKE_AGENT_ID=agent_9201kxvcm7pbekrsya5wmhsrkd3s
ELEVENLABS_NEGOTIATOR_AGENT_ID=agent_6801kxvdh1tgfczryfmk76frrnk
ELEVENLABS_TOUGH_COUNTER_AGENT_ID=agent_8501kxvdmryjfj3afw9vcv1dmh8t
ELEVENLABS_STONEWALLER_COUNTER_AGENT_ID=agent_4801kxvdqadmer3s80vjacrkwc6z
ELEVENLABS_UPSELLER_COUNTER_AGENT_ID=agent_7401kxvdsmp3fb590dntdjqbc2x4